In [1]:
print("3/2=",3/2)

3/2= 1.5

In [4]:
print(13/2)
print(int(10/3))
print(13//2)# 결과를 정슈 부분만 결과로 반환 -> 몫을 구하는 연산
print(13%2)

6.5
3
6
1

In [5]:
# 제곱연산자 
print("2**1=",2**1)
print("2**2=",2**2)
print("2**3=",2**3)

2**1= 2
2**2= 4
2**3= 8

In [1]:
number =input('정수 값하나를 입력해 주세요>>>>')
print(type(number),number)#number 는  input 함수에서 반환한 타입이 str 이기 때문에 
 
number =int(number)#number를 int로 변환
print(type(number),number+100) # number-> int 정수간의 산술연산이 가능

정수 값하나를 입력해 주세요>>>>123
<class 'str'> 123
<class 'int'> 223

In [7]:
#valueError
#int('hi')
#float('hello')
#int('111.111')
int(11.11)

11

In [23]:
format_a="{}만 원".format(5000)
format_b="첫 연봉 {}만 원 만들기".format(5000)
format_c="{}{}{}".format(10,20,30)
format_d="{}{}{}".format(1000,False,"문자열")
format_e="{}{}{}".format(1000,False,"문자열",5000)
format_f="{}{}{}".format(1000,False,"g",100,100)
print(format_a)
print(format_b)
print(format_c)
print(format_d)
print(type(True))
print(format_e)
print(format_f)

5000만 원
첫 연봉 5000만 원 만들기
102030
1000False문자열
<class 'bool'>
1000False문자열
1000Falseg

In [30]:
print('hello123'.isalnum())
print('hello123'.isalpha())
print('123'.isdigit())

True
False
False

In [33]:
#find() #index 찾기
output_a="안녕안녕하세요".find("안녕")
print(output_a)
print('안녕하세요'.find('하'))

0
2

In [34]:
#in연산자 
print('안녕' in '안녕하세요')
print('좋아요' in '안녕하세요')

True
False

In [46]:
#split() 함수 반복문 일괄 처리 
a= "10 20 30 40 50".split("/")
print(a)

numbers ='10 20 30 40 50 60 70 80 90 '.split(' ')
print(type(numbers),numbers)

numbers ='10 20 30 40 50 60 70 80 90 '.split(',')
print(type(numbers),numbers)
numbers ='10 20 30 40 50 60 70 80 90 '.split(':')
print(type(numbers),numbers)

['10 20 30 40 50']
<class 'list'> ['10', '20', '30', '40', '50', '60', '70', '80', '90', '']
<class 'list'> ['10 20 30 40 50 60 70 80 90 ']
<class 'list'> ['10 20 30 40 50 60 70 80 90 ']